.wind-container {
  font-size: .75rem;
  margin: 0;
  padding: 1em;
}

.wind-title {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  align-items: baseline;
  margin: 0 0 .25em;
  padding: 0 0.5em;
}

ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 2em 1em;
  overflow: auto hidden;
  scrollbar-color: auto;
}

li {
  margin: 0 0.75em;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

.wind-direction-icon {
  color: rgba(0, 0, 0, .75);
}

.wind-speed {
  color: #304ffe;
  font-weight: 600;
  font-size: 2rem;
  margin: .1em 0;
}

.wind-speed-unit {
  color: rgba(0, 0, 0, .75);
  font-weight: 500;
  font-size: 1rem;
  margin-left: .5em;
}

.time-of-day {
  font-weight: 400;
}

span {
  margin-left: .25em;
}

.current-wind {
  font-size: 1.25rem;
}

.current-wind-time-label {
  font-size: 1.25rem;
  font-weight: 400;
}

.current-wind .wind-speed {
  font-size: 2.5rem;
}