.wind-speed-unit {
  font-weight: 500;
  font-size: 1rem;
  margin-left: .5em;
}

.wind-list {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin: 2em 0 0;
  overflow: auto hidden;
  scrollbar-color: auto;
}

.wind-list-item,
.current-wind-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 50px;
}

@media(min-width: 500px) {
  .wind-list-item,
  .current-wind-item {
    min-width: 64px;
  }
}

.wind-list-item {
  margin: 0 .5em;
}

.current-wind-item {
  margin: 0 1.25em;
}

.wind-value {
  font-size: 1.5rem;
  padding: .5em 0;
}

.wind-value,
.current-wind-value {
  align-content: flex-end;
  display: flex;
  font-weight: 500;
}

.current-wind-icon {
  font-size: 1.5rem;
}

.current-wind-value {
  font-size: 2rem;
  padding: .25em 0;
}

.current-wind-timestamp {
  font-size: 1.5rem;
}