.detail-container {
  background: rgb(124,244,244);
  background: linear-gradient(180deg, rgba(124,244,244,1) 0%, rgba(194,231,231,1) 50%);
}

.detail-content-container {
  margin: 0 auto;
  max-width: 1250px;
}

.detail-subtitle {
  padding: 1em;
}

.detail-list {
  padding: 0 1em;
}

.detail-list-item {
  padding: 1.5em 0;
}

.detail-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .35);
}

@media(min-width: 500px) {
  .detail-list {
    padding: 0 2em;
  };
}