.daily-overview-container {
  align-items: left;
  display: grid;
  grid-template-columns: calc(70% - 2em) calc(30% + 2em);
  grid-auto-rows: 1fr;
  height: calc(100% - 4em);
  padding: 2em;
}

.daily-overview-column-1 {
  margin-right: 2em;
}

.daily-overview-column-2 {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.daily-overview-fixed-height {
  height: 2.5em;
}

@media(min-width: 500px) {
  .daily-overview-fixed-height {
    height: 4rem;
  }
}

.highest-temperature-value,
.lowest-temperature-value {
  font-weight: 600;
  margin-left: .1em;
}

.daily-overview-temperatures {
  display: flex;
  margin-top: 1em;
}

@media(min-width: 500px) {
  .daily-overview-temperatures {
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
}

.highest-temperature,
.lowest-temperature {
  align-items: center;
  display: flex;
}

.highest-temperature {
  margin-right: 1em;
}

.daily-overview-column-2 > img {
  height: 70px;
  width: 70px;
}

@media(min-width: 360px) {
  .daily-overview-column-2 > img {
    height: 100px;
    width: 100px;
  }
}

@media(min-width: 500px) {
  .daily-overview-container {
    grid-template-columns: 1fr;
    grid-template-rows: calc(70% - 2em) calc(30% + 2em);;
  }

  .daily-overview-column-1 {
    margin: 0;
  }

  .daily-overview-column-2 {
    margin: auto 0 0 0;
    justify-content: center;
  }

  .daily-overview-column-2 > img {
    height: 140px;
    width: 140px;
  }
}