.header-container {
  margin: 0 auto;
  padding: 1.5em 2.5em 1em;
}

@media(min-width: 500px) {
  .header-container {
    padding: 4em 10%;
  }
}

.header-title {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}