.overview-container {
  background: rgb(124,244,244);
  background: linear-gradient(180deg, rgba(143, 244, 244, 1) 0%, rgba(194, 231, 231, 1) 50%);
  padding: 1em 0;
}

@media (min-width: 500px) {
  .overview-container {
    padding: 5em .5em;
  }
}

.overview-content-container {
  margin: 0 auto;
  max-width: 1250px;
}

.daily-overview-list {
  padding: 0;
  margin: 0;
}

.daily-overview-list-item {
  background-color: rgba(255, 255, 255, .65);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: calc(100% - 1em);
  margin: 1em;
  transition: linear 100ms;
}

.daily-overview-list-item:hover,
.daily-overview-list-item:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (min-width: 500px) {
  .daily-overview-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(250px - 1em), 1fr));
    grid-auto-rows: 1fr;
  }

  .daily-overview-list-item {
    margin: 0 .5em;
  }
}