.footer-container {
  background: #fff;
  padding: 2.5em 0;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: calc(1250px - 5rem);
  padding: 0 2.5rem;
}

@media(min-width: 500px) {
  .footer-container {
    padding: 4em 0;
  }

  .footer-content-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer-list:not(:last-child) {
  margin-bottom: 3em;
}

@media(min-width: 500px) {
  .footer-list:not(:last-child) {
    margin-right: 10em;
  }
}

.footer-subtitle {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: .6em;
  text-transform: uppercase;
}

.footer-list-item {
  padding: .6em 0;
}

@media(min-width: 500px) {
  .footer-subtitle {
    padding-bottom: .35em;
  }

  .footer-list-item {
    padding: .35em 0;
  }
}

.footer-list-item p {
  font-size: 1rem;
}

.footer-link a {
  text-decoration: underline;
}

.footer-link a:hover,
.footer-link a:focus {
  color: rgba(0, 0, 0, 0.9);
}