@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

html,
body {
  background: rgb(124,244,244);
  background: linear-gradient(180deg, rgba(124,244,244,1) 0%, rgba(194,231,231,1) 50%);
  color: rgba(0, 0, 0, .9);
  min-height: 100%;
}

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Asap','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}